# Set default text eol to Unix LF
* text=auto eol=lf

# Force crlf for Windows bat and cmd text files.
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Force crlf for all Visual Studio text files.
*.sln        text eol=crlf
*.csproj     text eol=crlf
*.vbproj     text eol=crlf
*.vcxproj    text eol=crlf
*.vcproj     text eol=crlf
*.dbproj     text eol=crlf
*.fsproj     text eol=crlf
*.lsproj     text eol=crlf
*.wixproj    text eol=crlf
*.modelproj  text eol=crlf
*.sqlproj    text eol=crlf
*.wmaproj    text eol=crlf
*.xproj      text eol=crlf
*.props      text eol=crlf
*.filters    text eol=crlf
*.vcxitems   text eol=crlf

# Set image files as binary by default.
*.bmp	binary
*.gif   binary
*.jpg   binary
*.jpeg  binary
*.png   binary
*.ico   binary
*.icns  binary
*.ai    binary

# Set video files as binary by default.
*.mp4   binary
*.mov   binary

# Set library files as binary by default and store with LFS.
*.lib   filter=lfs diff=lfs merge=lfs -text
*.dll   filter=lfs diff=lfs merge=lfs -text
*.a     filter=lfs diff=lfs merge=lfs -text
*.so    filter=lfs diff=lfs merge=lfs -text

# Set executable files as binary by default.
*.exe	binary
*.dmg 	binary

# Set archive files as binary by default.
*.zip binary
*.7z  binary
*.tar binary
*.gz  binary
*.bz2 binary
*.xz  binary
*.tar.gz  binary
*.tar.bz2 binary
*.tar.xz  binary

